.container-1 {
    margin: 0%;
    padding: 0%;
    width: 30%;
    height: 85vh;
}
.container-2 {
    margin: 0%;
    padding: 0%;
    width: 40%;
    height: 85vh;
}
.container-3 {
    margin: 0%;
    padding: 0%;
    width: 30%;
    height: 85vh;
}